<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
 <%= image_tag @picture.image.url(:medium),class:"image", style:"text-align:center;" %>
</p>

<p>
  <strong>Geox:</strong>
  <%= @picture.geox %>
</p>

<p>
  <strong>Geoy:</strong>
  <%= @picture.geoy %>
</p>

<p>
  <strong>Uploadtime:</strong>
  <%= @picture.uploadTime %>
</p>

<p>
  <strong>Category:</strong>
  <%= @picture.category %>
</p>

<p>
  <strong>Uploadedby:</strong>
  <%= @picture.uploadedBy %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
